{% extends "base.html" %}
{% block main %}
<div>
    <div id="map" class="map"></div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/ol3/3.17.1/ol.js" type="text/javascript"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script id="aside-template" type="text/x-handlebars-template">
<ul>
{% raw %}
    {{#if town_selected }}
    <li class="results-for">
        <i class="material-icons heading">room</i> Trends for <span class="place-name">{{town_name}}</span>
    </li>
    {{#each suggested_results}}
        <li>
            <div class="title-item">
                <i class="material-icons">description</i><span class="title-text">{{title}}</span>
            </div>
            <div class="description-item">
                <p>{{description}}</p>
            </div>
        </li>
    {{/each}}
    {{else}}
    <li class="nothing-selected"><i class="material-icons heading">room</i><span class="title-text">Please click an area...</span></li>
    {{/if}}
{% endraw %}
</ul>
</script>
<script type="text/javascript">
$(document).ready(function() {

    var state = {
        'town_selected': false,
        'town_name': '',
        'suggested_results': [],
        'points_of_interest': [],
    }

    var styleSet = {
        text: 'Blah',
        align: 'center',
        baseline: 'middle',
        font: 'Arial',
        size: '12px',
        color: '#FFFFFF',
        outlineWidth: '3px',
        maxreso: 1200
    };

    var createTextStyle = function(feature, resolution, dom) {
        return new ol.style.Text({
            textAlign: 'center',
            textBaseline: 'middle',
            font: 'Arial',
            text: feature.getProperties().properties.name,
            offsetY: -20,
            fill: new ol.style.Fill({color: 'black'}),
        })
    }

    var createPointStyleFunction = function() {
        return function(feature, resolution) {
            var style = new ol.style.Style({
                image: new ol.style.Circle({
                    radius: 5,
                    fill: new ol.style.Fill({color: 'rgba(255,0,0,0.6)'}),
                    stroke: new ol.style.Stroke({color: 'red', width: 3})
                }),
                text: createTextStyle(feature, resolution, styleSet)
            });
            return [style];
        }
    }

    var create_point_feature = (lon, lat, label) => {
        return new ol.Feature({
            geometry: new ol.geom.Point(
                [lon, lat]
                ),
            properties: {name: label.toProperCase()}
        })
    };

    /*points = {}

    var map_point_to_feature = (key) => {
        return create_point(points[key][1], points[key][0], key);
    };


    var features = Object.keys(points).map(map_point_to_feature);

    var vectorPoints = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: features
        }),
        style: createPointStyleFunction()
    });*/

    var osm_layer = new ol.layer.Tile({
        source: new ol.source.OSM()
    });



    function transform_geometry(element) {
        var current_projection = new ol.proj.Projection({code: "EPSG:4326"});
        var new_projection = osm_layer.getSource().getProjection();
        element.getGeometry().transform(current_projection, new_projection);
    };

    var generate_heatmap_layer = (elements) => {
        var heatmap_features = []
        var data = new ol.source.Vector();
        elements.forEach(element => {
            var pt = new ol.geom.Point([element.lon, element.lat]);
            var heatmap_feature = new ol.Feature({
                geometry: pt,
                weight: element.weight
            });
            transform_geometry(heatmap_feature);
            heatmap_features.push(heatmap_feature);
        });
        data.addFeatures(heatmap_features);
        var heatMapLayer = new ol.layer.Heatmap({
            source: data,
            radius: 5
        });
        return heatMapLayer;
    }

    var generate_points_layer = (mapping) => {

        var points_features = [];
        var data = new ol.source.Vector();
        Object.keys(mapping).forEach(key => {
            var point_feature = create_point_feature(
                mapping[key][1], 
                mapping[key][0], 
                key);
            transform_geometry(point_feature);
            points_features.push(point_feature);
        });
        data.addFeatures(points_features);

        var pointsLayer = new ol.layer.Vector({
            source: data,
            style: createPointStyleFunction()
        });

        return pointsLayer;
    }

    var map = new ol.Map({
        target: 'map',
        layers: [
        osm_layer
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([147.01, -32.09]),
            zoom: 6
        })
    });

    map.on('click', function(evt) {
        var feature = map.forEachFeatureAtPixel(evt.pixel, onFeatureClick);
    });

    var onFeatureClick = (feature, layer) => {
        var name = feature.getProperties().properties.name;
        console.log(name);
        fetch('/interesting_trends/'+name)
        .then(response => response.json())
        .then(data => {
            state = Object.assign({}, state, 
                {
                    'town_selected': true, 
                    'town_name': name,
                    'suggested_results': data.InterestingTrends
                }
            );
            update_aside(state);
        });
    }

    var fetch_points_of_interest = () => {
        return fetch('/points_of_interest')
        .then(response=>response.json())
        .then(data=>data.PointsOfInterest)
        .then(generate_points_layer)
        .then(add_layer)
    }

    var fetch_heatmap = () => {
        return fetch('/heatmap_points')
        .then(response=>response.json())
        .then(data=>data.HeatmapPoints)
        .then(generate_heatmap_layer)
        .then(add_layer)
    }

    var add_layer = (layer) => {
        map.addLayer(layer);
    }

    var update_aside = (context) => {
        var source = $("#aside-template").html();
        var template = Handlebars.compile(source);
        var html = template(context);
        $('#aside-inner').html(html);
    }

    update_aside(state);

    fetch_points_of_interest();

    fetch_heatmap();
});
</script>
{% endblock %}