@import "normalize";
@import "skeleton";
@import "sticky-footer";
@import "openlayers";
@import "girder/girder";
@import "fonts";

footer {
	text-align: center;
}

$min-card-height: 500px;

$material-colour-main: #00C853;
$material-colour-secondary: #69F0AE;

.map {
	height: $min-card-height;
	width: 100%;
}
.map-container {
	@extend %row;
}
main {
	@include unit(half);
}
aside {
	@include unit(half);
	#aside-inner {
		padding: 3em;
		padding-top: 2em;
		min-height: $min-card-height;
	}

	ul {
		color: #595959;

		li {

			list-style-type: none;
			border-bottom: 1px solid #C5C5C5;
			padding-bottom: 1em;

			&:last-child {
				border-bottom: 0px;
			}

			.material-icons, .title-text {
				display: inline-block;
				vertical-align: middle;
			}
			.title-text {
				margin-left: 0.5em;
			}
			.material-icons.heading {
				font-size: 3rem;
			}
			p {
				margin-bottom: 1rem;
			}

			.description-item {
				font-style: italic;
			}
			.title-item {
				font-weight: bold;
				margin-bottom: 1em;
			}
		}
	}
}

.nothing-selected, .results-for {
	@extend h5;
}

.card {
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #979797;
}

header {
	background-color: $material-colour-main;
	width: 100%;
	color: white;
	text-shadow: 0px 2px 4px rgba(148,148,148,0.50);
	padding: 1.1em;
	padding-bottom: 0.3em;
	text-align: center;
	margin-bottom: 1em;
	box-shadow: 0px 3px 3px 0px rgba(181, 181, 181, 0.57);
	font-family: "Roboto";
}

.introduction-container {
	@extend %row;
	.introduction {
		@include unit();
		float: none;
		margin: 0 auto;
		margin-top: 3em;
		.introduction-inner {
			padding: 1em;
			h2 {
				color: $material-colour-main;
			}
		}
	}
}

button.date.selected {
	background-color: $material-colour-secondary;
}


.map-info {
	margin-top: 3em;
	h2 {
		color: $material-colour-main;
		text-align: center;
	}
}

#map-buttons {
	margin: 0 auto;
	float: none;
	text-align: center;
}